$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    list-style: none; 
}

a{
    text-decoration: none;color: black;;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.menu,.restaurant, .pallet,footer{
    animation-delay: 900ms;
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

//  @-webkit-keyframes slide-in-bottom {
//     0% {
//       -webkit-transform: translateY(1000px);
//               transform: translateY(1000px);
//       opacity: 0;
//     }
//     100% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//       opacity: 1;
//     }
//   }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  @mixin media-md{
    @media screen and (min-width:768px){
      @content;
    }
  }
  @mixin media-lg{
    @media screen and (min-width:1024px){
      @content;
    }
  }
  @mixin media-xl{
    @media screen and (min-width:1600px){
      @content;
    }
  }

  