
.nav{
    padding: 20px;
    text-align: center;

    &__logo{
        font-size: 200%;
        font-family: 'Shrikhand', bold;
        }
    }

.search{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    
    
    &__input{
        border: none;
        background-color: #dddddd;
        height: 44px;
    }

    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        background-color: #f6f6f6;
        

        p{
        padding-top:40px;
        font-size: 18px;
        }

        a{
        padding-top: 40px;
        }
        button{
            border: none;
            cursor: pointer;
            position: relative;
            box-shadow:0 0 5px 0 #aaa;
            border-radius: 30px;
            font-size: 16px;
            background: linear-gradient(350deg,$primary-color 0%,$secondary-color 100%);
            color: #fff;
            width: 225px;
            height: 40px;
        }
    }

    &__input::placeholder{
        text-align: center;
        
    }
}


.menu{
    padding:20px;
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        counter-reset: 0;
        padding-right: 0 50px;

        i{
            padding-right: 50px;
        }
        
    }
    &__card{
        box-shadow: 0 0 5px 0 #aaa;
        background-color: white;
        border-radius: 15px ;
        width: 95% ;
        margin: 20px auto;
        padding: 20px 33px;
        &:nth-child(3){background-color:#f2eafb}

        span.number{
            border-radius:50%;
            background-color: $primary-color;
            color: #fff;
            position: absolute;
            left: 20px;
            width: 24px;
            line-height: 24px;
            text-align: center;     
        }
        i.fas{
            color:#aaa;
            &.fa-store{color: $primary-color;}
        }
        

    }
}          

.restaurant{
    background-color:#f6f6f6;
    padding: 20px;
    
}

.card__restaurant{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 #aaa;
    background-color: white;
    border-radius: 20px;
    margin: 20px 20px;

    .card__img{
        
        height: 170px;
        display: flex;
        overflow: hidden;

        img{
            object-fit: cover;
            width: 100%;
            transform: (1);
            transition: transform 350ms ease-in-out;
            
            &:hover{
                transform: scale(1.15)
            }
        }

        
    }
    .card__label{
        padding: 15px;
        display: flex;
        justify-content: space-between;  
        align-items: center; 

        &__text{
            h3{
                padding-bottom: 5px;
            }
        }
        
        &__like{
            
             .far{
                color: #aaa;
                font-size: 20px;
                }
        }
    }
}

footer{
    background-color: #343A40;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;

    h2{
        font-family: 'Shrikhand', normal;
        font-size: 20px;
        color: white;
        padding-bottom: 10px;
    }

    ul{
        li{
            line-height: 1.7;
            i{
                width: 25px;
                color:#fff
            }
            span{
                color: #fff;
            }
        }
    }
}
