@include media-md{

}

@include media-lg{
    .menu,
    .card__restaurant {
        margin: 20px 300px;
    }
    .restaurant{
        h2{
            margin: 20px 300px;  
        }
    }
    .pallet{
        margin: 20px 300px;
    }
    .fullPallete{
        h2, i{
            margin: 20px 290px;  
        }
    }
    .nav__wrap{
        margin: 20px 300px;
        .nav__back{
            margin-left: 120px;
        }
        } 
}